 body {
 background-color: #F5F5F5;
 color: #40407A;
 font-family: Arial, sans-serif;

}


 header {
 background-color: #80CBC4;
 text-align: center;

}


 header .h1 {
 line-height: 200%;

}


 nav {
 position: center;
 font-weight: bold;
 text-decoration: none;

}


